body {
	background-color: black;
	background-image: url("../images/toronto-background.jpg");
	background-size: cover;
	margin: 0;
	-webkit-transition: background-image 0.2s ease-in-out;
	transition: background-image 0.2s ease-in-out;
	font-family: Florence, cursive;
}
.circle {
	border-radius: 50%;
}
.joel-image {
	width: 200px;
	height: 200px;
	background-image: url("../images/joel.jpg");
    background-size: cover;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	margin-bottom: 50px;
}
.with-border {
	border: 2px solid #ffffff;
}
.main-container {
	margin-left: auto;
	margin-right: auto;
	display: inline;
}
.left-navbar {
	background-color: #595959;
	height: 100vh;
	display: inline;
	border-right: 2px solid #ffffff;
}
.intro {
	text-align: center;
}
.header {
	font-size: 24px;
	color: #ffffff;
	margin-top: 12px;
	margin-bottom: 8px;
}
.occupation {
	font-size: 20px;
	color: #ffffff;
}
.navbar-div {
	height: 33%;
	color: #ffffff;
	text-align: center;
}
.navbar-icon {
	font-size: 32px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.not-bottom-most {
	border-bottom-style: double;
}
.navbar-div:hover {
		background-color: #d9d9d9;
		color: black;
		cursor: pointer;
}
#blurb {
	margin-top: 36px;
	padding-left: 240px;
	padding-right: 240px;
}
